
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.online {
  background-color: #48bf2b
}
.offline {
  background-color: #bf0600;
}
.el {
  height: 200px;
  text-align: center;
  border:1px solid black;
}
.rm {
  display: grid;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.rm:hover {
  background-color: antiquewhite;
}
.offline {
  background-color: #bf0600;
}
@media all and (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
